In [1]:
%load_ext autoreload
%autoreload 2

### Example for using ipy_compare
Create a dataframe and measures

This version uses an "overall" measure which is useful for seeing input and output and determining if the right output was generated

In [2]:
from ipy_compare import Compare
import pandas as pd

In [8]:
# Sample DataFrame
data = {'Column1': ['A', 'B', 'C'], 'Column2': ['X', 'Y', 'Z'], 'Column3': ["Apple", "Fish swimming", "Vrooom car"]}
df = pd.DataFrame(data)

# Measures setup
measures = {
    "overall": ["Good", "Bad"],
}

# Initialize Compare
compare = Compare(df, columns=["Column1", "Column3"], measures=measures)

Output()

### Extract the measurements

In [4]:
compare.get_measurements()

Empty DataFrame
Columns: []
Index: []

### Which is Better?

Changing the measures from overall to each produces a set of buttons for all items

In [9]:
measures2 = {
    "each": ["Good", "Bad", "Neutral"],
}
compare2 = Compare(df, columns=["Column1", "Column3"], measures=measures2)

Output()

In [7]:
compare2.get_measurements()

   row_index   column          value  measure    type
0          0  Column1              A     Good  column
1          0  Column3          Apple      Bad  column
2          1  Column1              B     Good  column
3          1  Column3  Fish swimming  Neutral  column
4          2  Column1              C     Good  column
5          2  Column3     Vrooom car      Bad  column